XML DB/Vaccination.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Vaccination" type="VaccinationType"/>
  <xs:complexType name="ResponsableType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:int" name="phone"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DoctorType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:int" name="phone"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NurseType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:int" name="phone"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Human_resourceType">
    <xs:sequence>
      <xs:element type="DoctorType" name="Doctor" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="NurseType" name="Nurse" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ToolsType">
    <xs:sequence>
      <xs:element type="xs:short" name="Bed_number"/>
      <xs:element type="xs:short" name="Injection_shots_number"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Available_resourcesType">
    <xs:sequence>
      <xs:element type="Human_resourceType" name="Human_resource"/>
      <xs:element type="ToolsType" name="Tools"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="invitedType">
    <xs:sequence>
      <xs:element type="xs:string" name="Invite_date"/>
      <xs:element name="Station_nbr">
        <xs:simpleType>
          <xs:restriction base="xs:byte">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="CIN" use="optional"/>
  </xs:complexType>
  <xs:complexType name="Invited_peopleType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="invitedType" name="invited"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Absent_peopleType">
    <xs:sequence>
      <xs:element type="xs:string" name="CIN" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Medical_teamType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:short" name="Team_id" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Human_resourcesType">
    <xs:sequence>
      <xs:element name="Doctor_nbr" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:byte">
            <xs:enumeration value="2"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="3"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:byte" name="Nurses_nbr" minOccurs="0"/>
      <xs:element type="DoctorType" name="Doctor" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="NurseType" name="Nurse" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InDemande_resourcesType">
    <xs:sequence>
      <xs:element type="Human_resourcesType" name="Human_resources"/>
      <xs:element type="ToolsType" name="Tools"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Used_resourcesType">
    <xs:sequence>
      <xs:element type="Human_resourcesType" name="Human_resources"/>
      <xs:element type="ToolsType" name="Tools"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonType">
    <xs:sequence>
      <xs:element type="xs:string" name="Name"/>
      <xs:element type="xs:byte" name="Age"/>
      <xs:element name="Dose_number">
        <xs:simpleType>
          <xs:restriction base="xs:byte">
            <xs:enumeration value="2"/>
            <xs:enumeration value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="Dose_date"/>
      <xs:element type="xs:string" name="Phone_nbr"/>
      <xs:element type="xs:string" name="Adresse"/>
      <xs:element name="Side_effects">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Oui"/>
            <xs:enumeration value="Non"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="CIN" use="optional"/>
  </xs:complexType>
  <xs:complexType name="Vaccinated_peopleType">
    <xs:sequence>
      <xs:element type="PersonType" name="Person" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Vaccination_stationType">
    <xs:sequence>
      <xs:element type="Medical_teamType" name="Medical_team"/>
      <xs:element name="vacc_type">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Sinopharm"/>
            <xs:enumeration value="AstraZeneca"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:short" name="avlb_vacc_nbr"/>
      <xs:element type="xs:short" name="accepted_human_rate_per_day"/>
      <xs:element type="InDemande_resourcesType" name="InDemande_resources"/>
      <xs:element type="Used_resourcesType" name="Used_resources"/>
      <xs:element type="Vaccinated_peopleType" name="Vaccinated_people"/>
    </xs:sequence>
    <xs:attribute type="xs:byte" name="Station_nbr" use="optional"/>
  </xs:complexType>
  <xs:complexType name="Care_facilityType">
    <xs:sequence>
      <xs:element type="xs:string" name="Facility_name"/>
      <xs:element type="xs:string" name="Facility_adresse"/>
      <xs:element type="ResponsableType" name="Responsable"/>
      <xs:element type="Available_resourcesType" name="Available_resources"/>
      <xs:element type="Invited_peopleType" name="Invited_people"/>
      <xs:element type="Absent_peopleType" name="Absent_people"/>
      <xs:element type="Vaccination_stationType" name="Vaccination_station" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:int" name="Facility_id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="CityType">
    <xs:sequence>
      <xs:element name="City_name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Rabat"/>
            <xs:enumeration value="Kenitra"/>
            <xs:enumeration value="Sale"/>
            <xs:enumeration value="Tanger"/>
            <xs:enumeration value="Tétouan"/>
            <xs:enumeration value="Al Hoceima"/>
            <xs:enumeration value="Youssoufia"/>
            <xs:enumeration value="Marrakech"/>
            <xs:enumeration value="Safi"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Popullation">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="533 960"/>
            <xs:enumeration value="473 703"/>
            <xs:enumeration value="976 522"/>
            <xs:enumeration value="1 083 462"/>
            <xs:enumeration value="105 000"/>
            <xs:enumeration value="81 563"/>
            <xs:enumeration value="966 987"/>
            <xs:enumeration value="317 976"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="Care_facilityType" name="Care_facility" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegionType">
    <xs:sequence>
      <xs:element name="Name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Rabat - Salé - Kénitra"/>
            <xs:enumeration value="Tanger - Tétouan - Al Hoceima"/>
            <xs:enumeration value="Marrakech - Safi"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="CityType" name="City" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VaccinationType">
    <xs:sequence>
      <xs:element type="RegionType" name="Region" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>